<% content_for :title, "Tulis Artikel Baru" %>

<div class="admin-page">
  <div class="admin-page-header">
    <h1 class="admin-page-title">Tulis Artikel Baru</h1>
  </div>
  <%= render "form", post: @post %>
</div>
